<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    />
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        display: flex;
      }

      button {
        display: inline-block;
        outline: 0;
        border: none;
        box-shadow: none;
        cursor: pointer;
        padding: 9px 22px;
        font-size: 22px;
        height: 50px;
        font-weight: 400;
        color: #fff;
        text-align: center;
        line-height: normal;
        background: linear-gradient(90deg,#5522fa 0,#0074e4 100%);
        border-radius: 50px;
        transition: color .2s ease,background-color .2s ease,box-shadow .2s ease;
        :hover{
            box-shadow: 0 0 0 0.15rem #5ceace;
        }
      }

      .sidebar {
        height: 100vh;
        width: 250px;
        background-color: #333;
        color: white;
        padding: 20px;
        box-sizing: border-box;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .sidebar a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 10px 0;
      }
      .sidebar a:hover {
        background-color: #575757;
      }
      .main-content {
        margin-left: 250px;
        padding: 20px;
        width: 100%;
      }
      .table-container {
        max-height: 80vh; /* 80% of the viewport height */
        overflow-y: auto;
        border: 1px solid #ddd;
      }
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th,
      td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #f2f2f2;
      }
      tr:nth-child(even) {
        background-color: #f9f9f9;
      }
      tr:hover {
        background-color: #f1f1f1;
      }
      .status-circle {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 8px;
      }
      .approved {
        background-color: green;
      }
      .waitlisted {
        background-color: yellow;
      }
      .rejected {
        background-color: red;
      }
      .awaiting_action {
        background-color: darkgrey;
      }
    </style>
  </head>
  <body>
    <div class="sidebar">
      <div>
        <h2>Menu</h2>
        <a href="/adminAppTemplates">Application Templates</a>
        <a href="/adminDashboard">Submitted Applications</a>
      </div>
      <a href="/logout">Logout</a>
    </div>

    <div class="main-content">
      <h2>Application Templates Table</h2>

      <a href="/newTemplate">
        <button>Create new application template</button>
      </a>
      
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>app_template_id</th>
              <th>vendor_type</th>
            </tr>
          </thead>
          <tbody>
            <% appTemplatesList.forEach(app => { %>
            <tr>
              <td><%= app.id %></td>
              <td><%= app.vendor_type %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>

  </body>
</html>